
.button {
  display: inline-block;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #9B59B6;
  width: 337px;
  padding: 15px ;
  color: white;
}
.button:hover{
  color: white;
  background-color: #88519f;
}