#Presentation{
  width: 95%;
  max-width: 1175px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width:780px){
    flex-direction: column;
  }
img{
  width: 40vw;
  max-width: 560px ;
  @media screen and (max-width:780px){
    margin-top: 10px;
    width: 100%;
    max-width: 450px;
  }
}
#whoIm{
  width: 50%;
  @media screen and (max-width:780px){
    width: 100%;}
}

}