#Skills{
  ul{
    width: 95%;
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-around;
    @media screen and (max-width:1024px){
      gap: 30px;
    }

  img{

  filter:brightness(100);
    margin-bottom: 18px;

    @media screen and (max-width:780px){
      height: 40px;

      object-fit: contain;
    }



  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    @media screen and (max-width:780px){
     font-size: 12px;
    }
  }
  li:hover{
    color: #1ABC9C;
  img{
  filter :brightness(15) invert(0.5) sepia(5) saturate(5) hue-rotate(5520deg);

  }

  }
  }


}